{%load omfilters%}

<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #CD853F;">
    <a class="navbar-brand " href="{% url 'produto:lista' %}">
        <div class="bg-white d-inline-flex rounded-circle p-3" style="font-family: 'Giaza', serif;  align-items: center; height: 120px; width: 120px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <span style=" font-size: 28px; color: #8B4513;">Tô </span>
            <span style="font-size: 24px; margin-left: 5px; color: #CD853F;"> chiQ</span>
        </div>
    </a>
    <span style="font-family: 'Roboto', sans-serif; font-size: 28px; color: #8B4513;">acessórios </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span style="font-size: 24px; color: #8B4513;">home</span> <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span style="font-size: 24px; color: #8B4513;">Link</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span style="font-size: 24px; color: #8B4513;">Dropdown</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            {% if request.session.carrinho %}
            <li class="nav-item">
                <a class="nav-link nav-vart-link active" href="{% url 'produto:carrinho' %}">
                    <span class="nav-cart-text mr-1">
                        Carrinho
                    </span>
                    <span class="nav-cart-caunt mr-1">
                        <strong>{{ request.session.carrinho|cart_total_qtd }}x</strong>
                    </span>
                    <span class="nav-cart-icon mr-2">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span
                    style="font-size: 24px; color: #8B4513;">Search</span></button>
        </form>
    </div>
</nav>